{% extends 'base.html' %} {% block content %}
<main>
  <div class="camper-container">
    <div class="camper-info">
      <div class="camper-name">
        <h1>Camper Name: {{ campers.pet_name }}</h1>
      </div>
      <div class="camper">
        <p>Owner: {{ profile.user.email }}</p>
      </div>
      <form action="{% url 'camper_create' %}" class='camper-form' method="POST">
        {% csrf_token %}
          {{ form.as_p }}
            <<button type="submit">Submit</button>>
            <a href="{% url 'camper' %}">Cancel</a>
      </form>
    </div>
  </div>
  </div>
</main>
{% endblock %}
