{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
<main>
  <div class="profile-container">
    <div class="user-info">
      <div class="username">
        <h1>Username: {{ profile.user.username }}</h1>
      </div>
      <div class="user">
        <p>Email: {{ profile.user.email }}</p>
      </div>
      <form action="{% url 'profile_create' %}" class='profile-form' method="POST">
        {% csrf_token %}
          {% comment %} {{ form.as_p }} {% endcomment %}
         {{ form|crispy }}
         <div class="button-styling">
            <button class="profile-form-btn" type="submit">Submit</button>
            <a href="{% url 'profile' %}">Cancel</a>
          </div>
      </form>
    </div>
  </div>
  </div>
</main>
{% endblock %}
