* {
  font-family: 'Staatliches', cursive; 
}

/* Base.html */
.body {
  background-color: white;
}

nav {
  position: relative;
}

nav a{
  width: 108px;
}

/* Landing */
.landing-header {
  font-size: 100px;
  color: black;
  position: absolute;
  left: 570;
  top: 300;
}

.fullscreen {
  background-image: url("static/assets/landing.jpg");
  height: 267vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bio {
  width: 100vw;
  color: black;
  font-size: 100px;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  position: relative;
  top: 112;
}

.bio p{
  font-size: 25px;
  margin: auto;
  padding: 10px;
  height: 81vh;
  text-align: center;
  position: relative;
  top: 98;
}

.current-camper{
  height: 100vh;
}

.current-campers h2 {
  font-size:100px;
  color: black;
  margin: auto;
  width: 50%;
  padding: 80px;
}

.contact-me {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 160;
}

.contact-me h2 {
  font-size: 100px;
  text-align: center;
}

.landing-contact {
  text-align: center;
}

#message {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.footer {
  position: relative;
  top: -80px;
}
/* Login */
